header{
    z-index: 1;
    height: 25px;
    margin-left: 245px;
    margin-top: 51px;
    margin-right: 245px;
    display: flex;
    padding: 0;
    
}
.logo{
    width: 139px;
    height: 25px;
}
.menu{
    margin-top: 3px;
    margin-bottom: 4px;
    display: flex;
    margin-left: 146px;
    gap:45px;
    font-size: 15px;
    padding: 0;
    white-space: nowrap;
}
a{
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    
}
.telephone{
    
    height: 27px;
    border: none; 
    background: none;
    margin-left: 100px;
    cursor: pointer;
   
}
.number{
    margin-left: 9px;
    margin-top: 3px;
    margin-bottom: 4px;
    font-size: 15px;
    white-space: nowrap;
}
.bags{
    width: 24px;
    height: 24px;
    border: none; 
    background: none;
    margin-left: 22px;
    margin-right: 0;
    margin-top: 2px;
    cursor: pointer;
}
   